/* GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
}

/* HEADER */
#header-section {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center; 
   flex-direction: column;
   margin-bottom: 58px;
}

header .publicity {
   width: 100%; 
   height: 60px;
   background: hsla(0, 0%, 9%, 1); 
   color: hsla(0, 0%, 98%, 1);
}

.publicity p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 31.39px;
    text-align: center;
    padding: 15px;
}

header .jordanshoes {
   width: 100%;
   height: 60px;
   background-color: #F9F9F9;
}

.jordanshoes h1 {
    text-align: center;
    color: #181818;
    font-style: normal;
    font-size: 24px;
    font-weight: 600;
    line-height: 196.19%;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
}

.banner {
    width: 100%;
    height: 368px;
    background-image: url("../assets/wallpaper.jpeg ");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    padding: 6.25rem;
}

.banner h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #F9F9F9;
    display: flex;
}

.banner p {
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  color: #F9F9F9; 
  font-size: 18px;
  font-weight: 600;
  line-height: 196.19%;
}

/* MAIN */
.highlights {
    width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 59px;
}

.highlights .subtitle h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #181818;
    line-height: 196.19%;
}

.highlights .subtitle p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #474747;
    line-height: 196.19%;
    margin-bottom: 59px;
}

/* MAIN */
#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.card {
    width: 300px;
    height: 302px;
    margin-left: 13px;
    background: #EBE9EA; 
    margin-bottom: 29px;
    border-radius: 3px;
    transition: 2s;
}

.card:hover {
  transition: 1s;
  cursor: pointer;
}

.card div {
  text-align: center;
}

img {
  width: 250px;
  height: 150px;
  margin: 100px auto;
}

/* FOOTER */
footer .section-footer {
    width: 100%; 
    height: 60px;
    font-family: 'Montserrat', sans-serif;
    background: hsla(0, 0%, 9%, 1); 
    color: hsla(0, 0%, 98%, 1);
    text-align: center;
    padding: 15px;
    font-size: 18px;
 }
 
 /* MEDYA QUERIES */
 @media only screen and (max-width: 600px) {
    body {
        width: 100%;
        height: auto;
    }

    .publicity p {
        font-size: 18px;
    }

    .jordanshoes h1 {
        font-size: 20px;
    }

    .banner {
      padding: 150px 20px;
    }

    .banner h1 {
        width: 100%;
        font-size: 26px;
    }
    
    .banner p {
        font-size: 15px;
      }

     .text p {
      text-align: center;
      padding: 5px;
   }

   .card {
     width: 474px;
     margin: 5px;
   }

 }